<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baseproject.wx.com.baseproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ImageLoadActivity" />
        <activity android:name=".ui.OkHttpActiivtyDemo" />
        <activity android:name=".ui.ListViewActivity" />
        <activity android:name=".ui.XRecyclerViewActivity" />
        <activity android:name=".ui.SweetAletDialogActivity" />
        <activity android:name=".ui.BigImageActivity" />
        <activity android:name=".ui.ImageSelectActivity" />
        <activity android:name=".ui.HttpRequestActivity"></activity>
    </application>

</manifest>